.background-register {
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
    height: 100vh;
    display: flex;
}

#page-register-consultation {
    width: 100%;
    max-width: 1100px;
  
    margin: 0 auto;
}

#page-register-consultation header {
    margin-top: 48px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-register-consultation header a {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;
  
    display: flex;
    align-items: center;
}
  
#page-register-consultation form {
    margin: 80px auto;
    padding: 64px;
    max-width: 730px;
    background: #FFF;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
}
  
#page-register-consultation form h1 {
    font-size: 36px;
}
  
#page-register-consultation form fieldset {
    margin-top: 64px;
    min-inline-size: auto;
    border: 0;
}
  
#page-register-consultation form legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
  
#page-register-consultation form legend h2 {
    font-size: 24px;
}
  
#page-register-consultation form legend span {
    font-size: 14px;
    font-weight: normal;
    color: var(--text-color);
}
  
#page-register-consultation form .field-group {
    flex: 1;
    display: flex;
}
  
#page-register-consultation form .field {
    flex: 1;
  
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
  
#page-register-consultation form .field input[type=text],
#page-register-consultation form .field input[type=date],
#page-register-consultation form .field input[type=number] {
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
}
  
#page-register-consultation form .field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
}
  
#page-register-consultation form .field input::placeholder {
    color: #A0A0B2;
}
  
#page-register-consultation form .field label {
    font-size: 14px;
    margin-bottom: 8px;
}
  
#page-register-consultation form .field :disabled {
    cursor: not-allowed;
}
  
#page-register-consultation form .field-group .field + .field {
    margin-left: 24px;
}
  
#page-register-consultation form .field-group input + input {
    margin-left: 24px;
}
  
#page-register-consultation form .field-check {
    flex-direction: row;
    align-items: center;
}
  
#page-register-consultation form .field-check input[type=checkbox] {
    background: #F0F0F5;
}
  
#page-register-consultation form .field-check label {
    margin: 0 0 0 8px;
}
  
#page-register-consultation form .leaflet-container {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 24px;
}
  
#page-register-consultation form button {
    width: 260px;
    height: 56px;
    background: grey;
    border-radius: 8px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    align-self: flex-end;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
}
  
#page-register-consultation form button:hover {
    background: #1960e5;
}